<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" type="text/css" href="__STATIC__/plugins/layui/css/layui.css">
    <script type="text/javascript" src="__STATIC__/plugins/layui/layui.js"></script>
</head>
<body style="padding: 10px">
<form class="layui-form">
	<div class="layui-form-item">
		<label class="layui-form-label">幻灯片名称</label>
		<div class="layui-input-block">
			<input type="text" class="layui-input" name="title">
		</div>
	</div>
	</form>
</body>
</html>